.mode-section,
body,
html {
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.blue-text {
  color: #5575ff;
}

.mode-card {
  cursor: default;
}

.normal-text,
.blue-text,
.hero-slogan {
  cursor: default;
}

.secondary-button {
  cursor: pointer;
}

.navigation-bar .normal-text,
.navigation-bar .blue-text {
  cursor: pointer;
}

#project-card-buttons .blue-text {
  cursor: pointer;
}

.scroll-up-arrow {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  z-index: 10;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.scroll-up-arrow img {
  width: 3rem;
  height: 3rem;
}

.switch-wrapper {
  position: absolute;
  top: 3rem;
  right: 5%;
}

.switch-wrapper .mode-clicker {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: none;
  z-index: 10;
  cursor: pointer;
}

.switch-wrapper .switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
}

.switch-wrapper .switch input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
}

.switch-wrapper .switch .slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right bottom, from(#5855ff), to(#47b5ff));
  background: linear-gradient(to bottom right, #5855ff, #47b5ff);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 35px;
  z-index: 1;
}

.switch-wrapper .switch .slider::before {
  position: absolute;
  content: "";
  height: 80%;
  width: 39%;
  left: 5%;
  bottom: 10%;
  background: url(../res/img/svg/sun.svg) center right;
  background-size: cover;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.switch-wrapper .switch input:checked + .slider {
  background: -webkit-gradient(linear, left top, right bottom, from(#1e1e1e), to(#1e1e1e));
  background: linear-gradient(to bottom right, #1e1e1e, #1e1e1e);
  -webkit-box-shadow: 0 0 7px #ffffcc;
          box-shadow: 0 0 7px #ffffcc;
}

.switch-wrapper .switch input:checked + .slider:before {
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transform: translateX(130%) rotate(-90deg);
          transform: translateX(130%) rotate(-90deg);
  background: url(../res/img/svg/moon.svg) center right;
  background-size: cover;
}

.switch-wrapper .switch input:checked ~ .add {
  background: url(../res/img/svg/star.svg) center center no-repeat;
  background-size: 100%;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.switch-wrapper .switch input:checked ~ .add1 {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.switch-wrapper .switch input:checked ~ .add2 {
  -webkit-transform: translateX(-170%);
          transform: translateX(-170%);
}

.switch-wrapper .switch input:checked ~ .add3 {
  -webkit-transform: translateX(-220%);
          transform: translateX(-220%);
}

.switch-wrapper .switch .add {
  z-index: 3;
  position: absolute;
  background: url(../res/img/svg/cloud.svg) center center no-repeat;
  background-size: 100%;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.switch-wrapper .switch .add1 {
  width: 35%;
  height: 35%;
  top: 50%;
  right: 10%;
}

.switch-wrapper .switch .add2 {
  width: 23%;
  height: 23%;
  top: 20%;
  right: 30%;
}

.switch-wrapper .switch .add3 {
  width: 15%;
  height: 15%;
  top: 15%;
  right: 10%;
}

.hero {
  background-color: white;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../res/img/svg/hero.svg");
  background-position: top right;
  background-size: 180vh;
  background-repeat: no-repeat;
}

.hero .logo {
  position: absolute;
  top: 1.8rem;
  left: 5rem;
}

.hero .logo img {
  width: 4rem;
  height: 4rem;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}

.hero .navigation-bar {
  position: absolute;
  top: 3rem;
  left: 14vw;
}

.hero .navigation-bar .dropdown-button-container,
.hero .navigation-bar .dropdown-menu-container {
  display: none;
}

.hero .navigation-bar .navigation li {
  display: inline-block;
  width: auto;
  margin-right: 3rem;
}

.hero .navigation-bar .navigation li a {
  text-decoration: none;
  color: #121212;
  font-size: 1.2rem;
  padding: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.hero .navigation-bar .navigation li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: -10%;
  width: 0;
  height: 2px;
  background-color: #5575ff;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.hero .navigation-bar .navigation li a:hover::after {
  width: 120%;
}

.hero .hero-text {
  position: absolute;
  top: 30vh;
  left: 14vw;
}

.hero .hero-text .hero-title p {
  font-size: 5rem;
  margin: 0;
  line-height: 120%;
}

.hero .hero-text .hero-slogan {
  margin-top: 1rem;
}

.hero .hero-text .hero-slogan p {
  font-size: 1.5rem;
}

.hero .hero-text .hero-slogan #slogan {
  display: inline-block;
  position: absolute;
  margin-left: 7px;
  width: 50vw;
  opacity: 1;
  color: #5575ff;
}

.hero .hero-text .hero-slogan #slogan-next {
  display: inline-block;
  position: absolute;
  margin-left: 7px;
  width: 50vw;
  opacity: 0;
  color: #5575ff;
}

.hero .hero-text .hero-buttons {
  visibility: hidden;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .hero-text .hero-buttons a {
  text-decoration: none;
  color: #5575ff;
  border: 2px solid #5575ff;
  border-radius: 6px;
  display: inline-block;
  width: 9rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
}

.hero .hero-text .hero-buttons a.secondary-button {
  text-decoration: none;
  -webkit-box-shadow: 0 7px 15px rgba(73, 130, 252, 0.15), 0 7px 7px rgba(0, 0, 0, 0);
          box-shadow: 0 7px 15px rgba(73, 130, 252, 0.15), 0 7px 7px rgba(0, 0, 0, 0);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.hero .hero-text .hero-buttons a.secondary-button:hover {
  -webkit-box-shadow: 0 14px 28px rgba(73, 130, 252, 0.3), 0 10px 10px rgba(0, 0, 0, 0);
          box-shadow: 0 14px 28px rgba(73, 130, 252, 0.3), 0 10px 10px rgba(0, 0, 0, 0);
  -webkit-transform: scale(1.04) translateY(-2px);
          transform: scale(1.04) translateY(-2px);
}

.hero .hero-text .hero-buttons a.primary-button {
  text-decoration: none;
  -webkit-box-shadow: 0 7px 15px rgba(73, 130, 252, 0.15), 0 7px 7px rgba(0, 0, 0, 0);
          box-shadow: 0 7px 15px rgba(73, 130, 252, 0.15), 0 7px 7px rgba(0, 0, 0, 0);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-image: -webkit-gradient(linear, left top, right bottom, from(#47b5ff), to(#5f48ff));
  background-image: linear-gradient(to bottom right, #47b5ff, #5f48ff);
  border: none;
  color: white;
}

.hero .hero-text .hero-buttons a.primary-button:hover {
  -webkit-box-shadow: 0 14px 28px rgba(73, 130, 252, 0.3), 0 10px 10px rgba(0, 0, 0, 0);
          box-shadow: 0 14px 28px rgba(73, 130, 252, 0.3), 0 10px 10px rgba(0, 0, 0, 0);
  -webkit-transform: scale(1.04) translateY(-2px);
          transform: scale(1.04) translateY(-2px);
}

.hero .arrow-small {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 7rem;
  left: 14vw;
  width: 20rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10rem;
  -webkit-animation: arrow-show 1.2s cubic-bezier(0.25, 0.8, 0.25, 1) 1s forwards, arrow-pulse 8s cubic-bezier(0.25, 0.8, 0.25, 1) 2.2s infinite;
          animation: arrow-show 1.2s cubic-bezier(0.25, 0.8, 0.25, 1) 1s forwards, arrow-pulse 8s cubic-bezier(0.25, 0.8, 0.25, 1) 2.2s infinite;
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.hero .arrow-small img {
  width: 3rem;
  height: 3rem;
}

.hero .arrow-small:hover {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.hero .hero-buttons-extrasmall {
  display: none;
}

@-webkit-keyframes arrow-show {
  0% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes arrow-show {
  0% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes arrow-pulse {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  55% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes arrow-pulse {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  55% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (min-height: 800px) {
  .hero .arrow-small {
    visibility: visible;
  }
  .hero .hero-text .hero-buttons {
    visibility: hidden;
  }
}

@media (min-height: 535px) {
  .hero .hero-text .hero-buttons {
    visibility: visible;
  }
}

.section-title {
  font-size: 5rem;
}

.about {
  background: url(../res/img/svg/about_background.svg) top 0rem center;
  background-repeat: no-repeat;
  padding-top: 2rem;
  margin-top: 5rem;
  padding-bottom: 3rem;
}

.about .about-desc {
  height: auto;
  width: 30%;
  margin: auto;
  font-size: 1.5rem;
  line-height: 150%;
  text-align: justify;
}

.about .about-desc .about-desc-para {
  margin-top: 3rem;
}

.about .about-button {
  margin: 0 auto;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  color: #5575ff;
  border: 2px solid #5575ff;
  border-radius: 6px;
  display: inline-block;
  width: 9rem;
  height: 3rem;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  text-decoration: none;
  -webkit-box-shadow: 0 7px 15px rgba(73, 130, 252, 0.15), 0 7px 7px rgba(0, 0, 0, 0);
          box-shadow: 0 7px 15px rgba(73, 130, 252, 0.15), 0 7px 7px rgba(0, 0, 0, 0);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-image: -webkit-gradient(linear, left top, right bottom, from(#47b5ff), to(#5f48ff));
  background-image: linear-gradient(to bottom right, #47b5ff, #5f48ff);
  border: none;
  color: white;
}

.about .about-button:hover {
  -webkit-box-shadow: 0 14px 28px rgba(73, 130, 252, 0.3), 0 10px 10px rgba(0, 0, 0, 0);
          box-shadow: 0 14px 28px rgba(73, 130, 252, 0.3), 0 10px 10px rgba(0, 0, 0, 0);
  -webkit-transform: scale(1.04) translateY(-2px);
          transform: scale(1.04) translateY(-2px);
}

.interests {
  background-color: white;
  padding-top: 2rem;
  margin-top: 3rem;
}

.interests .container-fluid {
  width: 80%;
}

.interests .container-fluid .row {
  margin-top: 4em;
  padding-bottom: 3rem;
}

.interests .container-fluid .row div .interest-card {
  height: 85%;
  border-radius: 15px;
  margin-top: 3rem;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0), 0 15px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0), 0 15px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.interests .container-fluid .row div .interest-card img {
  width: 70%;
  margin-top: 1em;
}

.interests .container-fluid .row div .interest-card .interest-card-title {
  font-size: 1.8em;
  margin-top: 1em;
}

.interests .container-fluid .row div .interest-card .interest-card-text {
  width: 80%;
  height: auto;
  margin: 1em auto;
  padding-bottom: 1em;
  font-size: 1.4em;
  opacity: 0.68;
}

.interests .container-fluid .row div .interest-card:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0);
  -webkit-transform: scale(1.01) translateY(-10px);
          transform: scale(1.01) translateY(-10px);
}

.projects {
  background: white;
  padding-top: 2rem;
  margin-top: 5rem;
  text-align: center;
}

.projects h1 {
  font-size: 7vw;
}

.projects .container-fluid {
  width: 80%;
  margin: 0 auto;
}

.projects .container-fluid .row {
  margin: 7em 0 0 0;
}

.projects .container-fluid .row div .project-card {
  width: 100%;
  height: 96%;
  margin: 0 auto;
  border-radius: 15px;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0), 0 15px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0), 0 15px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem;
  text-align: center;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.projects .container-fluid .row div .project-card img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.projects .container-fluid .row div .project-card .project-card-title {
  font-size: 2em;
  padding-top: 2rem;
}

.projects .container-fluid .row div .project-card .project-card-text {
  width: 80%;
  height: auto;
  margin: 1em auto;
  padding-bottom: 1em;
  font-size: 1.4em;
  opacity: 0.68;
}

.projects .container-fluid .row div .project-card:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0);
  -webkit-transform: scale(1.01) translateY(-10px);
          transform: scale(1.01) translateY(-10px);
}

.projects .container-fluid .row div .project-card .built-with {
  color: #5575ff;
  opacity: 1;
}

.projects .container-fluid .row div .project-card #project-card-buttons {
  padding-bottom: 2em;
  height: auto;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.projects .container-fluid .row div .project-card #project-card-buttons a {
  text-decoration: none;
  color: #5575ff;
  border: 2px solid #5575ff;
  border-radius: 6px;
  display: inline-block;
  width: 9rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
}

.projects .container-fluid .row div .project-card #project-card-buttons a.secondary-button {
  text-decoration: none;
  -webkit-box-shadow: 0 7px 15px rgba(73, 130, 252, 0.15), 0 7px 7px rgba(0, 0, 0, 0);
          box-shadow: 0 7px 15px rgba(73, 130, 252, 0.15), 0 7px 7px rgba(0, 0, 0, 0);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.projects .container-fluid .row div .project-card #project-card-buttons a.secondary-button:hover {
  -webkit-box-shadow: 0 14px 28px rgba(73, 130, 252, 0.3), 0 10px 10px rgba(0, 0, 0, 0);
          box-shadow: 0 14px 28px rgba(73, 130, 252, 0.3), 0 10px 10px rgba(0, 0, 0, 0);
  -webkit-transform: scale(1.04) translateY(-2px);
          transform: scale(1.04) translateY(-2px);
}

.projects .container-fluid .row div .project-card #project-card-buttons a.primary-button {
  text-decoration: none;
  -webkit-box-shadow: 0 7px 15px rgba(73, 130, 252, 0.15), 0 7px 7px rgba(0, 0, 0, 0);
          box-shadow: 0 7px 15px rgba(73, 130, 252, 0.15), 0 7px 7px rgba(0, 0, 0, 0);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-image: -webkit-gradient(linear, left top, right bottom, from(#47b5ff), to(#5f48ff));
  background-image: linear-gradient(to bottom right, #47b5ff, #5f48ff);
  border: none;
  color: white;
}

.projects .container-fluid .row div .project-card #project-card-buttons a.primary-button:hover {
  -webkit-box-shadow: 0 14px 28px rgba(73, 130, 252, 0.3), 0 10px 10px rgba(0, 0, 0, 0);
          box-shadow: 0 14px 28px rgba(73, 130, 252, 0.3), 0 10px 10px rgba(0, 0, 0, 0);
  -webkit-transform: scale(1.04) translateY(-2px);
          transform: scale(1.04) translateY(-2px);
}

.contact {
  padding-top: 2rem;
  margin-top: 5rem;
  text-align: center;
  width: 100%;
}

.contact .email {
  color: #5575ff;
  margin-bottom: 3rem;
}

.contact .email span {
  cursor: pointer;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.contact .email span:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

.contact .email a:hover {
  text-decoration: none;
}

.contact .contact-text {
  font-size: 1.4rem;
}

.contact .socials {
  width: 22%;
  height: auto;
  margin: 0 auto;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .socials .social-link {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.contact .socials .insta-link #insta {
  width: 5rem;
  height: 5rem;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.contact .socials .insta-link #insta:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.contact .socials .insta-link #insta:hover path:nth-child(1) {
  -webkit-animation: stroke-animation 1s ease forwards;
          animation: stroke-animation 1s ease forwards;
}

.contact .socials .insta-link #insta:hover path:nth-child(2) {
  -webkit-animation: line-animation 1s forwards;
          animation: line-animation 1s forwards;
  stroke: url(#linearGradient13443) !important;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
          animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
}

.contact .socials .insta-link #insta:hover circle:nth-child(3) {
  -webkit-animation: stroke-animation 1s ease forwards;
          animation: stroke-animation 1s ease forwards;
}

.contact .socials .insta-link #insta:hover circle:nth-child(4) {
  -webkit-animation: line-animation 1.5s forwards;
          animation: line-animation 1.5s forwards;
  stroke: url(#linearGradient13445) !important;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
          animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
}

.contact .socials .insta-link #insta:hover path:nth-child(5) {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  stroke: red !important;
}

.contact .socials .insta-link #insta path {
  fill: none;
  stroke: black;
  stroke-width: 10.5;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: 656px;
  stroke-dashoffset: 656px;
  stroke-opacity: 1;
}

.contact .socials .insta-link #insta path:nth-child(1) {
  stroke-dashoffset: 0;
  stroke-width: 10;
}

.contact .socials .insta-link #insta circle {
  opacity: 1;
  fill: none;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: black;
  stroke-width: 10.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: 280px;
  stroke-dashoffset: 280px;
  stroke-opacity: 1;
  paint-order: normal;
}

.contact .socials .insta-link #insta circle:nth-child(3) {
  stroke-dashoffset: 0;
  stroke-width: 10;
}

.contact .socials .insta-link #insta path:nth-child(5) {
  fill: none;
  stroke: black;
  stroke-width: 14.88144493;
  stroke-linecap: round;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
}

.contact .socials .github-link #github {
  width: 5rem;
  height: 5rem;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.contact .socials .github-link #github:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.contact .socials .github-link #github:hover path:nth-child(1) {
  -webkit-animation: stroke-animation 1s ease forwards;
          animation: stroke-animation 1s ease forwards;
}

.contact .socials .github-link #github:hover path:nth-child(2) {
  -webkit-animation: line-animation 1s forwards;
          animation: line-animation 1s forwards;
  stroke: url(#linearGradient14367) !important;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
          animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
}

.contact .socials .github-link #github:hover path:nth-child(3) {
  -webkit-animation: stroke-animation 1s ease forwards;
          animation: stroke-animation 1s ease forwards;
}

.contact .socials .github-link #github:hover path:nth-child(4) {
  -webkit-animation: line-animation 1s forwards;
          animation: line-animation 1s forwards;
  stroke: url(#linearGradient14364) !important;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
          animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
}

.contact .socials .github-link #github:hover path:nth-child(5) {
  -webkit-animation: stroke-animation 1s ease forwards;
          animation: stroke-animation 1s ease forwards;
}

.contact .socials .github-link #github:hover path:nth-child(6) {
  -webkit-animation: line-animation 1s forwards;
          animation: line-animation 1s forwards;
  stroke: url(#linearGradient14290) !important;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
          animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
}

.contact .socials .github-link #github path:nth-child(1),
.contact .socials .github-link #github path:nth-child(2) {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: miter;
  stroke-dasharray: 120px;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
}

.contact .socials .github-link #github path:nth-child(1) {
  stroke: black;
  stroke-width: 7;
  stroke-dashoffset: 0;
}

.contact .socials .github-link #github path:nth-child(2) {
  stroke-dashoffset: 120px;
  stroke-width: 7.5;
}

.contact .socials .github-link #github path:nth-child(3),
.contact .socials .github-link #github path:nth-child(4) {
  fill: none;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: 435px;
  stroke-opacity: 1;
}

.contact .socials .github-link #github path:nth-child(3) {
  stroke: black;
  stroke-width: 8;
  stroke-dashoffset: 0;
}

.contact .socials .github-link #github path:nth-child(4) {
  stroke-dashoffset: 435px;
  stroke-width: 8.5;
}

.contact .socials .github-link #github path:nth-child(5),
.contact .socials .github-link #github path:nth-child(6) {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: 585px;
  stroke-opacity: 1;
}

.contact .socials .github-link #github path:nth-child(5) {
  stroke: black;
  stroke-width: 9.5;
  stroke-dashoffset: 0;
}

.contact .socials .github-link #github path:nth-child(6) {
  stroke-dashoffset: 585px;
  stroke-width: 10;
}

.contact .socials .linkedin-link #linkedin {
  width: 5rem;
  height: 5rem;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.contact .socials .linkedin-link #linkedin:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.contact .socials .linkedin-link #linkedin:hover path:nth-child(1) {
  -webkit-animation: stroke-animation 1s ease forwards;
          animation: stroke-animation 1s ease forwards;
}

.contact .socials .linkedin-link #linkedin:hover path:nth-child(2) {
  -webkit-animation: line-animation 1s forwards;
          animation: line-animation 1s forwards;
  stroke: url(#linearGradient15015) !important;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
          animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
}

.contact .socials .linkedin-link #linkedin:hover ellipse:nth-child(3) {
  -webkit-animation: stroke-animation 1s ease forwards;
          animation: stroke-animation 1s ease forwards;
}

.contact .socials .linkedin-link #linkedin:hover ellipse:nth-child(4) {
  -webkit-animation: line-animation 3s forwards;
          animation: line-animation 3s forwards;
  stroke: url(#linearGradient15012) !important;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
          animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
}

.contact .socials .linkedin-link #linkedin:hover path:nth-child(5) {
  -webkit-animation: stroke-animation 1s ease forwards;
          animation: stroke-animation 1s ease forwards;
}

.contact .socials .linkedin-link #linkedin:hover path:nth-child(6) {
  -webkit-animation: line-animation 1s forwards;
          animation: line-animation 1s forwards;
  stroke: url(#linearGradient14298) !important;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
          animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
}

.contact .socials .linkedin-link #linkedin:hover path:nth-child(7) {
  -webkit-animation: stroke-animation 1s ease forwards;
          animation: stroke-animation 1s ease forwards;
}

.contact .socials .linkedin-link #linkedin:hover path:nth-child(8) {
  -webkit-animation: line-animation 1s forwards;
          animation: line-animation 1s forwards;
  stroke: url(#linearGradient14302) !important;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
          animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
}

.contact .socials .linkedin-link #linkedin path:nth-child(1),
.contact .socials .linkedin-link #linkedin path:nth-child(2) {
  fill: none;
  fill-opacity: 1;
  stroke-linecap: butt;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
}

.contact .socials .linkedin-link #linkedin path:nth-child(1) {
  stroke: black;
  stroke-width: 6.8;
  stroke-dashoffset: 0;
}

.contact .socials .linkedin-link #linkedin path:nth-child(2) {
  stroke-dasharray: 185.2px;
  stroke-dashoffset: 185.2px;
  stroke-width: 7.3;
}

.contact .socials .linkedin-link #linkedin ellipse:nth-child(3),
.contact .socials .linkedin-link #linkedin ellipse:nth-child(4) {
  opacity: 1;
  fill: none;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
  paint-order: normal;
}

.contact .socials .linkedin-link #linkedin ellipse:nth-child(3) {
  stroke: black;
  stroke-width: 6.7;
  stroke-dashoffset: 0;
}

.contact .socials .linkedin-link #linkedin ellipse:nth-child(4) {
  stroke-dasharray: 85px;
  stroke-dashoffset: 85px;
  stroke-width: 7.2;
}

.contact .socials .linkedin-link #linkedin path:nth-child(5),
.contact .socials .linkedin-link #linkedin path:nth-child(6) {
  fill: none;
  fill-opacity: 1;
  stroke-width: 0.70866102;
  stroke-linecap: butt;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
}

.contact .socials .linkedin-link #linkedin path:nth-child(5) {
  stroke: black;
  stroke-width: 0.65;
  stroke-dashoffset: 0;
}

.contact .socials .linkedin-link #linkedin path:nth-child(6) {
  stroke-dasharray: 38px;
  stroke-dashoffset: 38px;
  stroke-width: 0.70866102;
}

.contact .socials .linkedin-link #linkedin path:nth-child(7),
.contact .socials .linkedin-link #linkedin path:nth-child(8) {
  fill: none;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
}

.contact .socials .linkedin-link #linkedin path:nth-child(7) {
  stroke: black;
  stroke-width: 9.5;
  stroke-dashoffset: 0;
}

.contact .socials .linkedin-link #linkedin path:nth-child(8) {
  stroke-dasharray: 649px;
  stroke-dashoffset: 649px;
  stroke-width: 10;
}

footer {
  margin-top: 7rem;
  margin-bottom: 2rem;
  text-align: center;
}

footer p {
  margin: 0;
}

footer .delimiter {
  content: "";
  position: absolute;
  top: -2rem;
  right: 10%;
  width: 80%;
  height: 2px;
  background-color: #5575ff;
}

footer .fa-heart {
  color: red;
}

footer .fa-heart:hover {
  -webkit-animation: color-shift 3s infinite linear;
          animation: color-shift 3s infinite linear;
}

@-webkit-keyframes color-shift {
  0% {
    color: #ff8000;
  }
  33% {
    color: red;
  }
  66% {
    color: #5575ff;
  }
  100% {
    color: #ff8000;
  }
}

@keyframes color-shift {
  0% {
    color: #ff8000;
  }
  33% {
    color: red;
  }
  66% {
    color: #5575ff;
  }
  100% {
    color: #ff8000;
  }
}

@-webkit-keyframes line-animation {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line-animation {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes stroke-animation {
  to {
    stroke-width: 0;
  }
}

@keyframes stroke-animation {
  to {
    stroke-width: 0;
  }
}

@-webkit-keyframes slogan-slide-up {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
}

@keyframes slogan-slide-up {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
}

@-webkit-keyframes slogan-slide-down {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slogan-slide-down {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=desktop.css.map */